<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.bkp.minerva">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            tools:replace="android:name"
            android:name=".MinervaDebug"/>

</manifest>
